<form (ngSubmit)="onhandleEdit()">
    <div class="form-group">
        <input
             type="text"
             placeholder="Tên sản phẩm"
             [(ngModel)]="product.name"
             name="name"
             >
    </div>
    <div class="form-group">
        <input
             type="text"
             placeholder="Gía sản phẩm"
             [(ngModel)]="product.price"
             name="price"
             >
    </div>
    <div *ngIf="product">{{product.name}}-{{product.price}}</div>
    <button type="submit">Submit</button>
</form>
